<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование профиля</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Редактировать профиль: ' + ${userForm.getFirstName()}+ ' ' + ${userForm.getLastName()}">Редактировать профиль</h3>
  <form method="POST" class="needs-validation" novalidate style="max-width: 50vw" th:action="@{/users/profile/update}" th:object="${userForm}">
    <input type="hidden" name="id"
           th:value="${userForm.getId()}">
<!--            <div class="mt-3 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="login" readonly type="text" th:value="${userForm.getLogin()}" class="form-control" id="login" placeholder="Введите логин" required>-->
<!--                        <label for="login">Логин</label>-->
<!--                        <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
<!--                        <div class="alert alert-danger" th:if="${#fields.hasErrors('login')}">-->
<!--                            <p th:errors="*{login}"></p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="firstName" th:value="${userForm.getFirstName()}" type="text" class="form-control" id="firstName" placeholder="Введите имя" required>
          <label for="firstName">Имя</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="lastName" type="text" th:value="${userForm.getLastName()}" class="form-control" id="lastName" placeholder="Введите фамилию" required>
          <label for="lastName">Фамилия</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="middleName" th:value="${userForm.getMiddleName()}" type="text" class="form-control" id="middleName" placeholder="Введите отчество">
          <label for="middleName">Отчество</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="email" th:value="${userForm.getEmail()}" type="email" class="form-control" id="email" placeholder="Введите email" required>
          <label for="email">Email</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
            <p th:errors="*{email}"></p>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="phone" type="text" th:value="${userForm.getPhone()}" class="form-control" id="phone" placeholder="Введите телефон">
          <label for="phone">Телефон</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="birthDate" type="date" th:value="${userForm.getBirthDate()}" class="form-control" id="birthDate" placeholder="Введите дату рождения" required>
          <label for="birthDate">Дата рождения</label>
          <div class="invalid-feedback">Обязательное поле для заполнения</div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <textarea name="address" th:value="${userForm.getAddress()}" th:text="${userForm.getAddress()}" type="text" class="form-control" id="address" placeholder="Адрес"></textarea>
          <label for="address">Адрес</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Сохранить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
